<!DOCTYPE html>
<style>
    body{
        display: inline;
        background-color: green;
        color: white;
    }
    .navbar{
        display: inline-;

    }
    li{
        list-style: none;
    }
    a{
        text-decoration: none;

    }
</style>
<html>
<body>

<h1>microsoft bing </h1>

<nav class="navbar">
    <ul>
    <li><a href="/chat/">chat</a></li>
    <li><a href="/images/">images</a></li>
    <li><a href="/videos/">videos</a></li>
    <li><a href="/maps/">maps</a></li>
  </ul>
</nav>

  

</table>
</body>
</html>